
body {
	/*padding-top: 50px;*/
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 1.5rem;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans', sans-serif;
	font-weight: 100;
	margin: 0;
}

.navbar {
	border-radius: 0;
	border: 0;
}

.jumbotron {
	background-image: url("../images/header1.jpg");
	background-size: cover;
	height: 45rem;
	text-align: right;
	color: white;
	font-size: 30rem;
}

.red-star {
	color: red;
	font-weight: bolder;
}

label[class="control-label"] {
	/*color: #1e623b;*/
	font-weight: bolder;
}

i[class~="fa"] {
	color: #1e623b;
	font-size: 1.2rem;
}

button {
	width: 7em;
	margin-right: 1rem;
	margin-top: 1rem;
}

.my-btn {
	color: white;
	/*font-weight: bolder;*/
	font-size: 1.1rem;
}