RewriteEngine on
RewriteCond %{HTTP_HOST} ^asyanikitina.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.asyanikitina.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://asyanikitina.com/$1 [L]